
@tailwind base;
@tailwind components;

.btn {
    @apply bg-secondery text-white px-8 py-2 rounded-full font-tenor text-lg text-center;
}

.rtl .btn { 
    @apply bg-[#f00] text-white px-8 py-2 rounded-full font-tenor text-lg text-center;
}

.btn-sm {
    @apply bg-secondery text-white px-6 py-1 rounded-full font-tenor text-base text-center w-full;
}
.btn-secondery {
    @apply  text-secondery border border-secondery px-4 py-2 rounded-full font-tenor text-center ;
}
.btn-sec {
    @apply  text-secondery px-4 py-2 rounded-full font-tenor text-center ;
}
.h-header {
    @apply sm:text-2xl text-xl  text-secondery font-philosopher font-bold;
}
.h-sec {
    @apply sm:text-xl text-lg text-secondery font-philosopher font-bold;
}
.h-description {
    @apply sm:text-lg text-base text-primary font-tenor;
}
.custom-round {
    @apply rounded-l-[10px] rounded-tl-[10px] rounded-tr-[60px];
}
.custom-bgcolor {
  @apply bg-gradient-to-r from-primary-blue via-gradmiddel to-primary-blue ;
}
.responsive {
    @apply lg:w-1/3 md:w-1/2 sm:w-full;
}
.responsivefour {
    @apply lg:w-1/4 md:w-1/3 sm:w-1/2;
}

.hov-img {
    @apply transition hover:-translate-y-2 hover:scale-105 duration-300 delay-150 hover:drop-shadow-md hover:cursor-pointer;
  }
.hov-title {
    @apply hover:font-bold hover:cursor-pointer;
  }
.hov-btn {
    @apply hover:bg-white hover:text-secondery hover:font-bold ;
}

.c-container {
    max-width: 1182px;
    @apply mx-auto px-4;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}
@font-face {
    font-family: 'Philosopher';
    src: url('/fonts/Philosopher-Bold.ttf');
    font-weight:regular;
    font-style: normal;
}
@font-face {
    font-family: 'Philosopher';
    src: url('/fonts/Philosopher-BoldItalic.ttf');
    font-weight:regular;
    font-style: normal;
}
@font-face {
    font-family: 'Philosopher';
    src: url('/fonts/Philosopher-Regular.ttf');
    font-weight:regular;
    font-style: normal;
}

@font-face {
    font-family: 'Tenor Sans';
    src: url('/fonts/TenorSans-Regular.ttf');
    font-weight:regular;
    font-style: normal;
}

@tailwind utilities;

